
<section class=" ">
    <div class="max-w-screen-xl mx-auto ">
        <div class="container mx-auto py-28 min-h-screen  flex justify-center items-center">
              
            <form class="shadow-2xl shadow-slate-500 bg-slate-200 p-3 w-10/12 lg:w-1/2" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
                <div class="my-5">
                    <label for="email" class=" font-bold whitespace-nowrap">plz enter your email:</label>
                    <input type="email" id="email" class="form-control mt-1" placeholder="email" formControlName="email"
                    [ngClass]="{
                        'valid':!forgetPasswordForm.get('email')?.errors  && (forgetPasswordForm.get('email')?.touched ||  forgetPasswordForm.get('email')?.dirty ),
                        'invalid':forgetPasswordForm.get('email')?.errors  && (forgetPasswordForm.get('email')?.touched ||  forgetPasswordForm.get('email')?.dirty ) ,
                     }"
                    >
                    @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched){
                        <div class="bg-red-400 text-lg p-2 rounded my-3 font-semibold shadow-lg">
                            @if(forgetPasswordForm.get('email')?.getError('required')){<p>email must be required</p>}
                            @else if(forgetPasswordForm.get('email')?.getError('email')){<p>email formate is not correct</p>}
                           
                        </div>
                    }
                    
                </div>

                @if (errorText) 
                {
                    <div class="my-4  ">
                        <p class="text-center w-1/2 font-bold text-lg rounded-lg bg-teal-500 mx-auto p-2">{{errorText}}</p>
                    </div>

                }

                <button [disabled]="forgetPasswordForm.invalid" type="submit" class="w-1/2 cursor-pointer bg-green-500 p-2 shadow-2xl shadow-green-900   hover:shadow-none rounded-lg text-lg block  text-black font-bold capitalize whitespace-nowrap"
                
                [ngClass]="{
                    'bg-green-500  hover:shadow-none': !forgetPasswordForm.invalid, 
                    'bg-gray-300': forgetPasswordForm.invalid
                }" 
                >verify
                    @if (loading === true) {
                        <span><i class="fa-solid fa-circle-notch fa-spin"></i></span>
                    }
                </button>

            </form>
            
        </div>
    </div>
</section>