<section class="py-24  " >
    <div class="max-w-screen-xl mx-auto flex justify-center   ">
        <div class="container mx-auto   ">
            <h2 class="font-bold text-5xl text-green-500 text-center capitalize my-10">all brands</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-5 p-3 ">
                
                @for (brand of brandsData; track brand._id) 
                {
                    <div   class="shadow-md shadow-green-600 hover:shadow-none  border-2 border-green-500 p-2 group">
                        <div class="product-img">
                            <img [src]="brand.image" class="w-full h-52" alt="">
                        </div>
                    </div>

                        
                }

            </div>
        </div>
    </div>
</section>