<section class=" ">
    <div class="max-w-screen-xl mx-auto ">
        <div class="container mx-auto py-28 min-h-screen  flex justify-center items-center">
              
            <form class="shadow-2xl shadow-slate-500 bg-slate-200 p-3 w-10/12 lg:w-1/2 " [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                

                <div class="my-5">
                    <label for="newPassword" class="font-bold whitespace-nowrap">newPassword:</label>
                    <input type="password" id="newPassword" class="form-control mt-1" formControlName="newPassword"
                    [ngClass]="{
                        'valid':!resetPasswordForm.get('newPassword')?.errors  && (resetPasswordForm.get('newPassword')?.touched ||  resetPasswordForm.get('newPassword')?.dirty ),
                        'invalid':resetPasswordForm.get('newPassword')?.errors  && (resetPasswordForm.get('newPassword')?.touched ||  resetPasswordForm.get('newPassword')?.dirty ) ,
                     }"
                    >
                    @if(resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched){
                        <div class="bg-red-400 text-lg p-2 rounded my-3 font-semibold shadow-lg">
                            @if(resetPasswordForm.get('newPassword')?.getError('required')){<p>password must be required</p>}
                            @else if(resetPasswordForm.get('newPassword')?.getError('minlength')){<p>password formate is not correct</p>}
                           
                        </div>
                    }
                    
                </div>

                @if (errorText) 
                {
                    <div class="my-4  ">
                        <p class="text-center w-1/2 font-bold text-lg rounded-lg bg-teal-500 mx-auto p-2">{{errorText}}</p>
                    </div>

                }

                <button [disabled]="resetPasswordForm.invalid" type="submit" class="w-1/2 bg-green-500 p-2 shadow-2xl shadow-green-900   hover:shadow-none rounded-lg text-lg block  cursor-pointer text-black font-bold capitalize whitespace-nowrap"
                [ngClass]="{
                    'bg-green-500  hover:shadow-none': !resetPasswordForm.invalid, 
                    'bg-gray-300': resetPasswordForm.invalid
                }" 
                >reset password
                    @if (loading === true) {
                        <span><i class="fa-solid fa-circle-notch fa-spin"></i></span>
                    }
                </button>

            </form>
            
        </div>
    </div>
</section>
